@model IEnumerable<WebMatriculaApp.Entities.Notum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEvaluacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvaluacionNavigation.Evaluacion1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
