@model IEnumerable<WebMatriculaNew.Entities.ReprobacionGrupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreMateria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMateria)
            </td>
        </tr>
}
    </tbody>
</table>
