@model IEnumerable<WebMatricula.Entities.Profesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear Nuevo Profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Materia Impartida
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                Cedula
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaImpartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProfesorNavigation.NombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaProfesor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaProfesor">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaProfesor">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
