@model IEnumerable<WebMatriculaApp.Entities.AusenciaParticular>

@{
    ViewData["Title"] = "Ausencia";
}

<h1>Ausencias del Estudiante</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_estudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
        </tr>
}
    </tbody>
</table>
