@model IEnumerable<WebMatriculaNew.Entities.Evaluacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Evaluacion</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo Evaluacion
                <!--@Html.DisplayNameFor(model => model.CodigoEvaluacion)-->
            </th>
            <th>
                Evaluacion
               <!-- @Html.DisplayNameFor(model => model.Evaluacion1)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                Nombre Curso
                <!-- @Html.DisplayNameFor(model => model.CursoNavigation)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEvaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluacion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoNavigation.NombreCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEvaluacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEvaluacion">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEvaluacion">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
