@model IEnumerable<WebMatriculaNew.Entities.Grupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Grupos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoGrupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupo)
            </th>
            <th>
                Nota Minima
                <!--@Html.DisplayNameFor(model => model.NotaMinima)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Profesor
                <!--@Html.DisplayNameFor(model => model.CedulaProfesorNavigation)-->
            </th>
            <th>
                Materia
                <!--@Html.DisplayNameFor(model => model.MateriaGradoNavigation)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProfesorNavigation.CedulaProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaGradoNavigation.NombreMateria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoGrupo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoGrupo">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoGrupo">Borrar</a> |
                <a asp-action="AsistenciaXGrupo" asp-route-id="@item.CodigoGrupo">Asistencia x Grupo</a> |
                <a asp-action="NotaXEvaluacionXGrupo" asp-route-id="@item.CodigoGrupo">Nota x Evaluacion x Grupo</a>
            </td>
        </tr>
}
    </tbody>
</table>
