@model IEnumerable<WebMatriculaNew.Entities.NotaXEvaluacionXGrupo>

@{
    ViewData["Title"] = "Nota x Evaluacion x Grupo";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
        </tr>
}
    </tbody>
</table>
