@model IEnumerable<WebMatricula.Entities.Evaluacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evaluacion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluacion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoNavigation.NombreCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoEvaluacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoEvaluacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoEvaluacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
