@model IEnumerable<WebMatriculaNew.Entities.Profesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-area="" asp-controller="AumentoProfesores" asp-action="Index">Grafico Aumento x Profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MateriaImpartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaProfesorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaImpartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProfesorNavigation.NombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaProfesor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaProfesor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaProfesor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
