@model IEnumerable<WebMatriculaNew.Entities.AsistenciaProfesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Asistencia de Profesor</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaProfesorNavigation.CedulaProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProfesorNavigation.CedulaProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaProfesor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaProfesor">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaProfesor">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
