@model WebMatriculaNew.Entities.Padre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Padre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conyugue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conyugue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoConyugue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoConyugue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoMensualidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoMensualidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagosRealizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagosRealizados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaPadreNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaPadreNavigation.NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CedulaPadre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
