@model IEnumerable<WebMatriculaNew.Entities.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Factura</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaPadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaPadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
          
        </tr>
}
    </tbody>
</table>
