@model IEnumerable<WebMatriculaNew.Entities.Padre>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Padres</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaPadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaPadreNavigation.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conyugue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoMensualidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagosRealizados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaPadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaPadreNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conyugue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoMensualidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagosRealizados)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaPadre">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaPadre">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaPadre">Borrar</a>
                <a asp-action="GenerarFactura" asp-route-id="@item.CedulaPadre">GenerarFactura</a> |
            </td>
        </tr>
}
    </tbody>
</table>
