@model IEnumerable<WebMatricula.Entities.PeriodoLectivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear Nuevo Periodo Lectivo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha Limite
            </th>
            <th>
                Curso Cerrado
            </th>
            <th>
                Curso Pendiente
            </th>
            <th>
                Cedula Referente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoCerrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoPendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudianteNavigation.CursoActual)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
