@model IEnumerable<WebMatriculaNew.Entities.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Matriculas</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoMatricular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CobrosPendientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoMatricular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CobrosPendientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMatricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-CedulaEstudiante="@item.CedulaEstudiante" asp-route-PeriodoMatricular="@item.PeriodoMatricular" asp-route-Ano="@item.Ano">Editar</a> |
                <a asp-action="Details" asp-route-CedulaEstudiante="@item.CedulaEstudiante" asp-route-PeriodoMatricular="@item.PeriodoMatricular" asp-route-Ano="@item.Ano">Detalle</a> |
                <a asp-action="Delete" asp-route-CedulaEstudiante="@item.CedulaEstudiante" asp-route-PeriodoMatricular="@item.PeriodoMatricular" asp-route-Ano="@item.Ano">Borrar</a> |
                <a asp-action="ComprobanteMatricula" asp-route-CedulaEstudiante="@item.CedulaEstudiante">ComprobanteMatricula</a>
            </td>
        </tr>
}
    </tbody>
</table>
