@model WebMatriculaNew.Entities.Estudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradosCursados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradosCursados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursoActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursoActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaEstudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaEstudianteNavigation.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaPadreNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaPadreNavigation.Profesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoNavigation.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CedulaEstudiante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
