@model IEnumerable<WebMatriculaNew.Entities.Estudiante>

@{ ViewData["Title"] = "Index"; }

<h1>Listado de Estudiantes</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cedula
                <!-- @Html.DisplayNameFor(model => model.CedulaEstudiante)-->
            </th>
            <th>
                Nombre Completo
                <!-- @Html.DisplayNameFor(model => model.CedulaEstudiante)-->
            </th>
            <th>
                Grado
                <!-- @Html.DisplayNameFor(model => model.GradosCursados)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                Curso Actual
                <!-- @Html.DisplayNameFor(model => model.CursoActual)-->
            </th>
            <th>
                Cedula Padre
                <!--@Html.DisplayNameFor(model => model.CedulaPadreNavigation.CedulaPadre)-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEstudianteNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradosCursados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaPadreNavigation.CedulaPadre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaEstudiante">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaEstudiante">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaEstudiante">Borrar</a> |
                <a asp-action="NotaXEvaluacion" asp-route-id="@item.CedulaEstudiante">Nota x Evaluacion</a>
            </td>
        </tr>}
    </tbody>
</table>
