@model WebMatriculaNew.Entities.Notum

@{ ViewData["Title"] = "Delete"; }

<h1>Borrar</h1>

<h3>Esta seguro de Borrarlo?</h3>
<div>
    <h4>Notum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaEstudianteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaEstudianteNavigation.CursoActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEvaluacionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoEvaluacionNavigation.Evaluacion1)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoEvaluacion" />
        <input type="hidden" asp-for="CedulaEstudiante" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
