@model IEnumerable<WebMatriculaApp.Entities.Aprobacion>

@{
    ViewData["Title"] = "Aprobado";
}

<h1>Promedios de Aprobacion del Grupo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anno)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.promedioAprobados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreMateria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promedioAprobados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMateria)
            </td>
        </tr>
}
    </tbody>
</table>
