@model WebMatriculaApp.Entities.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMateriaGradoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateriaGradoNavigation.NombreMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesorNavigation.IdProfesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoNavigation.IdPeriodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGrupo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
