@model IEnumerable<WebMatriculaNew.Entities.CursoProfesor>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Curso Profesor/ Horario de Clases</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoLectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorNavigation.CedulaProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorNavigation.MateriaImpartida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoLectivo.EstadoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorNavigation.CedulaProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorNavigation.MateriaImpartida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoCurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoCurso">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoCurso">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
