@model WebMatriculaNew.Entities.PeriodoLectivo

@{ ViewData["Title"] = "Delete"; }

<h1>Borrar</h1>

<h3>Esta seguro de Borrarlo?</h3>
<div>
    <h4>PeriodoLectivo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPeriodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroPeriodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCurso)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroPeriodo" />
        <input type="hidden" asp-for="Ano" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
