@model IEnumerable<WebMatriculaNew.Entities.PeriodoLectivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Periodo Lectivo</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCurso)
            </td>

            <td>

                <a asp-action="Edit" asp-route-numero="@item.NumeroPeriodo" asp-route-ano="@item.Ano">Editar</a> |
                <a asp-action="Details" asp-route-numero="@item.NumeroPeriodo" asp-route-ano="@item.Ano">Detalle</a> |
                <a asp-action="Remove" asp-route-NumeroPeriodo="@item.NumeroPeriodo" asp-route-Ano="@item.Ano">Borrar</a> |

            </td>
        </tr>
}
    </tbody>
</table>
